$tablet-breakpoint: 768px;
$desktop-breakpoint: 1279px;



@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin comment-section {
    padding: 1.5rem 2rem;

}

@mixin mercury {
    color: #E1E1E1;
}

@mixin bandsiteBlack {
    color: #323232;
}


@mixin silver {
    color: #afafaf;
}


