@use "./partials/mixins" as *;
@use "./partials/partials" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "avenir";
}

/* Navigation */
.nav {
    background-color: #323232;

    &__container {

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }

        @include desktop {
            
        }
    }

    &__logo {
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        display: block;
        padding: .81rem;

    @include tablet {
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
    }

    @include desktop {
        padding: 0 6rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

    }

    &__item {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        padding: .5rem;
        width: 100%;

        @include tablet {
            width: auto;
        }
      
    }

    &__item-link {
        position: relative;
        text-decoration: none;
        color: #afafaf;
        font-size: 1rem;
        font-weight: 300;
        width: 100%;
        
        
        @include tablet {
            font-size: 1rem;
            padding: 1rem 0;
            width: 100%;
            margin-right: 1rem;
        }
    
        @include desktop {
            padding: 2.1rem 0;
            font-size: 1.2rem;
        }
    }

    &__item-link--active {
        font-weight: 500;
        color: #fff;
        border-bottom: 4px solid #fff;

   
    }

}


/* Footer Section */
.footer {
    background-color: #323232;
    color: #fff;
    padding: 1.5rem;

    @include tablet {
        padding: 2rem;
    }

    @include desktop {
        padding: 0 6.5rem;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 0 1rem;
    }
    @include desktop {
        padding: 1rem 0;
    }
   
}

// used for tablet sizing
.footer-container__tablet {
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

  
}

.footer-heading {
    font-size: 2.2rem;
    font-weight: 500;
    padding: 1rem 0 1rem 0;

    @include tablet {
        font-size: 2.5rem;
        display: inline-block;
        margin-right: 2rem;
    }

  @include desktop {
    font-size: 2.3rem;
    display: inline-block;
    padding-right: 2rem;
  }
}




// used to hide bandsite logo at bottom for larger sizing

.footer__bandsite-logo--tablet {
    display: none;

    @include tablet {
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        text-align: right;
    }

    @include desktop {
        font-size: 1.5rem;
    }
}

.footer-socials__container {
    @include tablet {
        display: inline-block;
        text-align: left;
    }

   
}

.footer-socials {
    height: 2rem;
    display: inline-block;
    margin-right: 2rem;

    @include tablet {
        height: 1.7rem;
        margin-right: 2rem;
    }

    @include desktop {
        height: 1.5rem;
    }
}

.footer-info__container {
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 0;

    }

    @include desktop {
        display: inline-block; 
        padding: 0;
    }
}

// used to display in a row on larger sizes
.footer-info__container--tablet {
    @include tablet {
        display: inline-block;
    }

    @include desktop {
        margin-right: 6rem;
    }
}



.footer-info__agent {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1rem;

    @include tablet {
        font-size: 1rem;
        padding-bottom: .81rem;
    }

    @include desktop {
        font-size: .85rem;
        padding-top: 1.5rem;
        
    }
}

.footer-info__copy,
.footer-info__email {
    font-size: 1rem;
    padding: 1rem 0;
    color: #fff;
    text-decoration: none;

    @include tablet {
        font-size: 1rem;
        
    }

    @include desktop {
        font-size: .81rem;
        padding: 1rem 0;
        
        
    }
}

.footer__bandsite-logo {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 5rem;

    @include tablet {
        display: none;
    }
}

.footer-info__copyright {
    font-size: .81rem;
    font-weight: 200;
    padding-top: 1rem;

    @include tablet {
        font-size: 1rem;
        padding-left: 1rem;
    }

    @include desktop {
        font-size: .81rem;
        padding: 2rem 0; 
    
    }
}



