@use "./partials/mixins" as *;
@use "./partials/fonts" as *;


/* Hero Image */

.hero{
    background-image: url(../assets/images/hero-shows.jpg);
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include hero-overlay;
   
        @include tablet {
            height: 70vh;
            padding: 2rem;
        }

        @include desktop {
            height: 90vh;
        }

        &__desktop-style {
            @include desktop{
                display: flex;
                justify-content: space-between;
            }
        }

        &__sub-heading {
            color: #fff;
            padding: 2rem 0 0 1rem;
            font-size: 1.2rem;
            font-weight: 400;

            @include tablet {
                font-size: 1.5rem;
                font-weight: 500;
            }

            @include desktop {
                padding-left: 4rem;
            }
        }

        &__heading {
            width: 65%;
            font-size: 1.8rem;
            color: #fff;
            padding: .5rem;
     
        
            @include tablet {
                font-size: 3.5rem;
                font-weight: 600;
            }
    
            @include desktop {
                font-size: 3.75rem;
                margin-left: 3rem;
            }
        }

}


iframe {
    width: 100%;
    padding: 1rem;
    height: 9rem;

    @include tablet {
        width: 50%;
        height: 10rem;
    }

    @include desktop {
        width: 50%;
        padding-right: 4rem;
        height: 13rem;

    }

}

.show {
    padding: 1rem 0;
    
    @include tablet {
        padding: 2.5rem;
    }

    @include desktop {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 4rem 6rem;
    }

    &__container-lg {
        @include desktop {
           
        }
    }


    &__heading {
        padding: 1rem 0 1.5rem 1rem;
       
        @include tablet {
            font-size: 2.5rem;
        }

        @include desktop {
            font-size: 3.5rem;
            display: inline;
            width: 13rem;
           
        }
        
    }

    &__box {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

        }
    }



    &__container {
        border-bottom: 1px solid #e1e1e1;
        padding: 1rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #a1a1a1;

        }  

        @include desktop {
            font-size: 1.1rem;            
        }
    }

    &__container-silver,
    &__venue-silver,
    &__location-silver,
    &__box-date,
    &__box-venue,
    &__box-location {
        color: #a1a1a1;
        padding-bottom: .1rem;
        width: 10rem;
    }

    &__date,
    &__venue,
    &__location {
    padding-top: 1rem;

   }

   &__container-silver,
   &__venue-silver,
   &__location-silver {
        @include tablet {
            visibility: hidden;
        }
   }

   &__date-num {
        font-weight: 700;
   }

   &__date-num,
   &__venue-head,
   &__location-place {
        @include desktop {
            font-size: 1rem;
        }
   }

  .show__container:hover {
        background-color: #fafafa;
   }

   .show__container:active {
        background-color: #e1e1e1;
   }


    &__button {
        @include show-buttons;

            @include tablet {
                width: 18%;
                font-size: 1.2rem;
            }
    }

    &__button:hover {
        background-color: #000;

    }

 


}

.hidden-button {
    visibility: hidden;
    padding: 0;
    height: 0;
}

.show__container-hidden {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #a1a1a1;
    }
}





